<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homepage</title>
    <style>   
    </style>
    </head>
<body>
    <div class="gnavi__wrap">
        <ul class="gnavi__lists">
            <li class="gnavi__list">
                <a href="/homepage"><nobr>M-System</nobr></a>
            </li>
            <li class="gnavi__list">
                <a href="#"></a>
                <ul class="dropdown__lists">
                    <li class="dropdown__list"><a href="#"></a></li>
                    <li class="dropdown__list"><a href="#"></a></li>
                    <li class="dropdown__list"><a href="#"></a></li>
                </ul>
            </li>
            <li class="gnavi__list">
                <a href="#"></a>
                <ul class="dropdown__lists">
                    <li class="dropdown__list"><a href="#"></a></li>
                    <li class="dropdown__list"><a href="#"></a></li>
                    <li class="dropdown__list"><a href="#"></a></li>
                </ul>
            </li>
        </ul>
    　</div>
</body>
</html>