<!DOCTYPE html>
<html>
<head>
  <title>売上・在庫管理</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>メインページ</h1>
  <ul>
    <li><a href="/inventory">在庫管理</a></li>
    <li><a href="/sales">売上管理</a></li>
    <li><a href="/settings">設定</a></li>
  </ul>
</body>
</html>